.container {
    height: 100%;
    width: auto;
    background-color: white;
    padding: 0;
}

body, html {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: black;
}

.center {
    display: block;
    margin: 0% auto;
    width: 50%;
}

.textcenter {
    text-align: center;
}

.noMarginPad {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

/* Top of the page */

#topbar {
    background-color: yellow;
    text-align: center;
    font-size: small;
}

#LowPrice {
    color:red;
}

/* NAVBAR */

#menuIcon {
    line-height: 0;
    font-size: 1;
}

#navToggler {
    line-height: 0;
    font-size: 1;
    padding-top: 10px;
}

#navBar {
    padding-bottom: 0%;
}

#navUL {
    /* width: 70%; */
    margin: auto;
}

.navBtns {
    text-align: center;
    background-color: #feff01;
    border-color: gray;
    border-width: 0.5px;
    border-radius: 5%;
    border-style: inset;
    font-weight: 700;
    padding: 0% 10px 0% 10px;
    margin: 0%;
}

.navBtns:hover {
    border-radius: 5%;
    border-bottom: 3px black solid;
    background-image: linear-gradient(white, yellow, white);
}

/* =====Page Home===== */


/* Tables */

.locField {
    line-height: 0.9;
    padding: 0;
    margin: 8px;
    font-size:0.75vw;
}

.locNum {
    font-weight: bolder;
    font-size: 2vw;
}

#locTable {
    padding: 0% 10%;
}

tr {
    border-style: solid;
    border-color: black;
    border-width: 1px !important;
}

td {
    text-align: center;
    width: fit-content;
    background-color: yellow;
    font-family:Arial, Helvetica, sans-serif;
    border-color:black !important;
    border-width: 1px !important;
}

/* Content Images */
#why-wait-img {
    width: 85%;
}
#why-wait-div {
    margin-left: 80px;
    font-weight: 600;
}

#fast-free-img {
    width:100%;
    margin-left: -16%;
    padding: 0;
}

#bbb-img {
    width:20%;
}

#sf-sewer-repair {
    color: rgb(0, 104, 0);
    font-weight: bolder;
}

#we-offer {
    font-size: medium;
    margin: 0;
    padding: 0;
}

/* Bottom of the page */

#footer {
    padding: 0% 10%;
}

#footer-b {
    padding: 0% 10%;
    align-content: center;
}

#bbb-footer {
    padding-left: 15px;
    padding-right: 20px;
    height: 40px;
}

.footerImg {
    height: 22px;
}

#copyright {
    font-size: 0.50vw;
}

@media only screen and (max-width: 1600px) {
   #copyright {
       font-size: 0.6vw;
   }
}

@media only screen and (max-width: 1300px) {
    #copyright {
        font-size: 0.8vw;
    }
 }
 
@media only screen and (max-width: 1200px) {
    #copyright {
        font-size: 0.5vw;
    }
 }


/* =====Page Services===== */
.pBold {
    font-weight: 700;
}

#services-title {
    color: red;
    font-weight: bolder;
}

#services-body1 {
    margin-left: 10%;
    margin-right: 5%;
    line-height: 15px;
}

.service-cols-left-padding-main {
    padding-left: 11%;
}

.service-cols-left-padding {
    margin-right: 3%;
}

#service-pipes-img {
    float: right;
    width: 25%;
}

#service-tank-img {
    /* float: right; */
    width: 80%;
    /* margin-top: -50px; */
    /* padding-bottom: 5%; */
}

@media only screen and (max-width: 600px) {
    .service-cols-left-padding {
        padding-left: 11%;
        
    }
    #service-tank-img {
        margin-top: 0%;
        width: 100%;
    }
}


/* =====Page Residential===== */



/* =====Page Commercial===== */



/* =====Page Sewer Service===== */



/* =====Page Drain Cleaning===== */



/* =====Page Energy Saving===== */



/* =====Page About Us===== */



/* =====Page Testimonials===== */



